//-------------COLORS---------------
$color-body: #2e2e2e;

$color-main1: #2F4659;
$color-main2: #117DBF;
$color-main3: #A68F49;
$color-main4: #e06f56;
$color-main5: #c14646;

$color-header: #fcfcfc;
$color-container: #fff;

$color-mains: (
    'page1': $color-main1,
    'page2': $color-main2,
    'page3': $color-main3,
    'page4': $color-main4,
    'page5': $color-main5
);
                










//----- FONT -------------------------


$color-text:    $color-header;
$color-nav:     #777;
$color-footer:  #8C95AD;

$font-family-sans: Montserrat, sans-serif;
$font-family-serif: 'Big Caslon', Georgia, serif;
